<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statement of Lab Staff</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.23/jspdf.plugin.autotable.min.js"></script>
<!--     
    <script>
        
        function changesubjectinput() {
            var subject_count = document.getElementById("subject_count").value;
            // Get the form container
            var formContainer = document.getElementById('subjects');
            formContainer.innerHTML = "";

            for (var i = 1; i <= subject_count; i++) {
                var subjectDiv = document.createElement('div');
                //subjectDiv.setAttribute('style', 'border: 1px solid red;');

                var subjectDetailsDiv = document.createElement('div');
                subjectDetailsDiv.setAttribute('class', 'row');
                // subjectDetailsDiv.setAttribute('style', 'border: 1px solid blue;');

                var subjectDetailsDivCol1 = document.createElement('div');
                subjectDetailsDivCol1.setAttribute('class', 'col-6');
                // subjectDetailsDivCol1.setAttribute('style', 'border: 1px solid green;');

                var subjectDetailsDivCol2 = document.createElement('div');
                subjectDetailsDivCol2.setAttribute('class', 'col-3');
                // subjectDetailsDivCol2.setAttribute('style', 'border: 1px solid green;');

                var subjectDetailsDivCol3 = document.createElement('div');
                subjectDetailsDivCol3.setAttribute('class', 'col-3');
                // subjectDetailsDivCol3.setAttribute('style', 'border: 1px solid green;');

                // Create a select list for subject
                var label = document.createElement('label');
                label.setAttribute('for', 'subject' + i.toString());
                label.innerHTML = 'Subject ' + i.toString();
                var select = document.createElement('select');
                select.setAttribute('id', 'subject' + i.toString());
                select.setAttribute('name', 'subject' + i.toString());
                select.setAttribute('required', 'true');
                var defaultOption = document.createElement('option');
                defaultOption.setAttribute('value', '');
                defaultOption.textContent = "Select Subject";
                defaultOption.setAttribute('disabled', 'true');
                defaultOption.setAttribute('selected', 'true');
                select.appendChild(defaultOption);
                {% for subject in subjects %}
                    var option = document.createElement('option');
                    option.setAttribute('value', '{{ subject.name }}');
                    option.textContent = '{{ subject.name }}';
                    select.appendChild(option);
                {% endfor %}

                // Create Academic Year
                var academic_year_label = document.createElement('label');
                academic_year_label.setAttribute('for', 'subject' + i.toString()+"_academic_year");
                academic_year_label.innerHTML = "Academic Year"

                var academic_year = document.createElement('select');
                academic_year.setAttribute('id', 'subject' + i.toString()+"_academic_year");
                academic_year.setAttribute('name', 'subject' + i.toString()+"_academic_year");
                academic_year.innerHTML = '<option value="FE">FE</option> <option value="SE">SE</option> <option value="TE">TE</option> <option value="BE">BE</option>';


                // Create PR/OR/TW
                var pr_or_tw_label = document.createElement('label');
                pr_or_tw_label.setAttribute('for', 'subject' + i.toString()+"_pr_or_tw");
                pr_or_tw_label.innerHTML = "PR/OR/TW"
                
                var pr_or_tw = document.createElement('select');
                pr_or_tw.setAttribute('id', 'subject' + i.toString()+"_pr_or_tw");
                pr_or_tw.setAttribute('name', 'subject' + i.toString()+"_pr_or_tw");
                pr_or_tw.innerHTML = '<option value="PR">PR</option> <option value="OR">OR</option> <option value="TW">TW</option>';


                // Row for other subject details
                var subjectOtherDetailsDiv = document.createElement('div');
                subjectOtherDetailsDiv.setAttribute('class', 'row');
                //subjectOtherDetailsDiv.setAttribute('style', 'border: 1px solid blue;');

                var subjectOtherDetailsDivCol1 = document.createElement('div');
                subjectOtherDetailsDivCol1.setAttribute('class', 'col');
                // subjectOtherDetailsDivCol1.setAttribute('style', 'border: 1px solid green;');

                var subjectOtherDetailsDivCol2 = document.createElement('div');
                subjectOtherDetailsDivCol2.setAttribute('class', 'col');
                // subjectOtherDetailsDivCol2.setAttribute('style', 'border: 1px solid green;');

                var subjectOtherDetailsDivCol3 = document.createElement('div');
                subjectOtherDetailsDivCol3.setAttribute('class', 'col');
                // subjectOtherDetailsDivCol3.setAttribute('style', 'border: 1px solid green;');

                // Create number of student
                var student_count_label = document.createElement('label');
                student_count_label.setAttribute('for', 'subject' + i.toString()+"_student_count");
                student_count_label.innerHTML = "Students count"
                var student_count = document.createElement("input");
                student_count.setAttribute("id", 'subject' + i.toString()+"_student_count");
                student_count.setAttribute("name", 'subject' + i.toString()+"_student_count");
                student_count.setAttribute("type", "number");
                student_count.setAttribute("placeholder", 'Students appered');

                // Create Date of conduct
                var date_of_conduct_label = document.createElement('label');
                date_of_conduct_label.setAttribute('for', 'subject' + i.toString()+"_date_of_conduct");
                date_of_conduct_label.innerHTML = "Date of Exam"
                var date_of_conduct = document.createElement("input");
                date_of_conduct.setAttribute("type", "date");
                date_of_conduct.setAttribute("id", 'subject' + i.toString()+"_date_of_conduct");
                date_of_conduct.setAttribute("name", 'subject' + i.toString()+"_date_of_conduct");

                // Create days of preparation
                var days_of_preparation_label = document.createElement('label');
                days_of_preparation_label.setAttribute('for', 'subject' + i.toString()+"_days_of_preparation");
                days_of_preparation_label.innerHTML = "Days of Preparation"
                var days_of_preparation = document.createElement("input");
                days_of_preparation.setAttribute("id", 'subject' + i.toString()+"_days_of_preparation");
                days_of_preparation.setAttribute("name", 'subject' + i.toString()+"_days_of_preparation");
                days_of_preparation.setAttribute("type", "number");
                days_of_preparation.setAttribute("placeholder", 'Days takenfor preparation');

                // Create Number of batches
                var batch_count_label = document.createElement('label');
                batch_count_label.setAttribute('for', 'subject' + i.toString()+"_batch_count");
                batch_count_label.innerHTML = "No. of Batches"
                
                var batch_count = document.createElement("input");
                batch_count.setAttribute("id", 'subject' + i.toString()+"_batch_count");
                batch_count.setAttribute("name", 'subject' + i.toString()+"_batch_count");
                batch_count.setAttribute("type", "number");
                batch_count.setAttribute("placeholder", 'Number of batches');

                // Create number of expert
                var expert_count_label = document.createElement('label');
                expert_count_label.setAttribute('for', 'subject' + i.toString()+"_expert_count");
                expert_count_label.innerHTML = "No. of Experts"

                var expert_count = document.createElement("input");
                expert_count.setAttribute("id", 'subject' + i.toString()+"_expert_count");
                expert_count.setAttribute("name", 'subject' + i.toString()+"_expert_count");
                expert_count.setAttribute("type", "number");
                expert_count.setAttribute("placeholder", "Number of experts")

                // Create number of lab assistant
                var lab_assistant_count_label = document.createElement('label');
                lab_assistant_count_label.setAttribute('for', 'subject' + i.toString()+"_lab_assistant_count");
                lab_assistant_count_label.innerHTML = "No. of Lab Assistants"

                var lab_assistant_count = document.createElement("input");
                lab_assistant_count.setAttribute("id", 'subject' + i.toString()+"_lab_assistant_count");
                lab_assistant_count.setAttribute("name", 'subject' + i.toString()+"_lab_assistant_count");
                lab_assistant_count.setAttribute("type", "number");
                lab_assistant_count.setAttribute("placeholder", "Number of lab assistant")

                // Create number of technical assistant
                var tech_assistant_count_label = document.createElement('label');
                tech_assistant_count_label.setAttribute('for', 'subject' + i.toString()+"_tech_assistant_count");
                tech_assistant_count_label.innerHTML = "No. of Technical Assistants"

                var tech_assistant_count = document.createElement("input");
                tech_assistant_count.setAttribute("id", 'subject' + i.toString()+"_tech_assistant_count");
                tech_assistant_count.setAttribute("name", 'subject' + i.toString()+"_tech_assistant_count");
                tech_assistant_count.setAttribute("type", "number");
                tech_assistant_count.setAttribute("placeholder", "Number of tech assistant")

                // Create number of peon
                var peon_count_label = document.createElement('label');
                peon_count_label.setAttribute('for', 'subject' + i.toString()+"_peon_count");
                peon_count_label.innerHTML = "No. of Peons"

                var peon_count = document.createElement("input");
                peon_count.setAttribute("id", 'subject' + i.toString()+"_peon_count");
                peon_count.setAttribute("name", 'subject' + i.toString()+"_peon_count");
                peon_count.setAttribute("type", "number");
                peon_count.setAttribute("placeholder", "Number of peon")

                subjectDetailsDivCol1.appendChild(label);
                subjectDetailsDivCol1.appendChild(select);

                subjectDetailsDivCol2.appendChild(academic_year_label);
                subjectDetailsDivCol2.appendChild(academic_year);

                subjectDetailsDivCol3.appendChild(pr_or_tw_label);
                subjectDetailsDivCol3.appendChild(pr_or_tw);

                subjectOtherDetailsDivCol1.appendChild(student_count_label);
                subjectOtherDetailsDivCol1.appendChild(student_count);

                subjectOtherDetailsDivCol2.appendChild(date_of_conduct_label);
                subjectOtherDetailsDivCol2.appendChild(date_of_conduct);

                subjectOtherDetailsDivCol3.appendChild(days_of_preparation_label);
                subjectOtherDetailsDivCol3.appendChild(days_of_preparation);

                subjectDetailsDiv.appendChild(subjectDetailsDivCol1);
                subjectDetailsDiv.appendChild(subjectDetailsDivCol2);
                subjectDetailsDiv.appendChild(subjectDetailsDivCol3);

                subjectOtherDetailsDiv.appendChild(subjectOtherDetailsDivCol1);
                subjectOtherDetailsDiv.appendChild(subjectOtherDetailsDivCol2);
                subjectOtherDetailsDiv.appendChild(subjectOtherDetailsDivCol3);

                subjectDiv.appendChild(subjectDetailsDiv);
                subjectDiv.appendChild(subjectOtherDetailsDiv);

                formContainer.appendChild(subjectDiv);

                formContainer.appendChild(batch_count_label);
                formContainer.appendChild(batch_count);

                formContainer.appendChild(expert_count_label);
                formContainer.appendChild(expert_count);

                formContainer.appendChild(lab_assistant_count_label);
                formContainer.appendChild(lab_assistant_count);

                formContainer.appendChild(tech_assistant_count_label);
                formContainer.appendChild(tech_assistant_count);

                formContainer.appendChild(peon_count_label);
                formContainer.appendChild(peon_count);

                formContainer.appendChild(document.createElement('br')); // Line break
                formContainer.appendChild(document.createElement('br')); // Line break
            }
        }


        function downloadExcel(){
            // Create a new workbook and a sheet
            const wb = XLSX.utils.book_new();
            // Sample data
            const data = [
                ["","","","","","","","Expert","","Lab","","","Tech","","","Peon","","","Expert","","Lab","","Tech","","Peon","","Total","",""],

                ["Year & Course", "Subject of Exam", "PR/OR/TW", 
                "No. of Student", "Dates of conduct of Exam", "Days of Prep & Clng","No. of Batches", 
                "No. of Expert Asstt", "Rate for P & E", 
                "Lab asstt", "Rate for Prep", "Rate for Exam",
                "Tech asstt", "Rate for Prep", "Rate for Exam",
                "Peon", "Rate for Prep", "Rate for Exam",
                "Expert Asstt exam", "Amount Preparation & Cleaning",
                "Lab Asstt exam", "Amount Preparation & Cleaning",
                "Tech Asstt exam", "Amount Preparation & Cleaning",
                "Peon exam", "Amount Preparation & Cleaning",
                "Total for Prep & Clean", "Rem exam", "Total rem"
            ],
            ];

            for (var i=1;i<=document.getElementById('subject_count').value;i++){
                let payment_expert_asstt_exam = document.getElementById("rate_PandE_expert").value * 
                                    document.getElementById("subject"+i.toString()+ "_expert_count").value * 
                                    document.getElementById("subject"+i.toString()+ "_batch_count").value;

                let payment_expert_ammount_for_prep_and_cleaning = document.getElementById("rate_PandE_expert").value * 
                                    document.getElementById("subject"+i.toString()+ "_expert_count").value * 
                                    document.getElementById("subject"+i.toString()+ "_days_of_preparation").value;
                
                let payment_lab_asstt_exam = document.getElementById("rate_exam_lab").value *
                                    document.getElementById("subject"+i.toString()+ "_lab_assistant_count").value * 
                                    document.getElementById("subject"+i.toString()+ "_batch_count").value;

                let payment_lab_ammount_for_prep_and_cleaning = document.getElementById("rate_prep_lab").value * 
                                    document.getElementById("subject"+i.toString()+ "_lab_assistant_count").value * 
                                    document.getElementById("subject"+i.toString()+ "_days_of_preparation").value;

                let payment_tech_asstt_exam = document.getElementById("rate_exam_tech").value * 
                                    document.getElementById("subject"+i.toString()+ "_tech_assistant_count").value * 
                                    document.getElementById("subject"+i.toString()+ "_batch_count").value;

                let payment_tech_ammount_for_prep_and_cleaning = document.getElementById("rate_prep_tech").value * 
                                    document.getElementById("subject"+i.toString()+ "_tech_assistant_count").value * 
                                    document.getElementById("subject"+i.toString()+ "_days_of_preparation").value;

                let payment_peon_asstt_exam = document.getElementById("rate_exam_peon").value * 
                                    document.getElementById("subject"+i.toString()+ "_peon_count").value * 
                                    document.getElementById("subject"+i.toString()+ "_batch_count").value;

                let payment_peon_ammount_for_prep_and_cleaning = document.getElementById("rate_prep_peon").value * 
                                    document.getElementById("subject"+i.toString()+ "_peon_count").value * 
                                    document.getElementById("subject"+i.toString()+ "_days_of_preparation").value;

                let payment_total_for_prep_and_clean = payment_expert_ammount_for_prep_and_cleaning +
                                                        payment_lab_ammount_for_prep_and_cleaning +
                                                        payment_tech_ammount_for_prep_and_cleaning + 
                                                        payment_peon_ammount_for_prep_and_cleaning;

                let payment_rem_exam = payment_expert_asstt_exam + 
                                        payment_lab_asstt_exam + 
                                        payment_tech_asstt_exam +
                                        payment_peon_asstt_exam;
                
                let total_rem = payment_total_for_prep_and_clean + payment_rem_exam;

                new_row = [
                    document.getElementById("subject"+i.toString()+"_academic_year").value + " " + document.getElementById("department").value,
                    document.getElementById("subject"+i.toString()).value,
                    document.getElementById("subject"+i.toString()+"_pr_or_tw").value,
                    document.getElementById("subject"+i.toString()+"_student_count").value,
                    document.getElementById("subject"+i.toString()+"_date_of_conduct").value,
                    document.getElementById("subject"+i.toString()+"_days_of_preparation").value,
                    document.getElementById("subject"+i.toString()+"_batch_count").value,
                    document.getElementById("subject"+i.toString()+"_expert_count").value,
                    document.getElementById("rate_PandE_expert").value,
                    document.getElementById("subject"+i.toString()+"_lab_assistant_count").value,
                    document.getElementById("rate_prep_lab").value,
                    document.getElementById("rate_exam_lab").value,
                    document.getElementById("subject"+i.toString()+"_tech_assistant_count").value,
                    document.getElementById("rate_prep_tech").value,
                    document.getElementById("rate_exam_tech").value,
                    document.getElementById("subject"+i.toString()+"_peon_count").value,
                    document.getElementById("rate_prep_peon").value,
                    document.getElementById("rate_exam_peon").value,

                    payment_expert_asstt_exam,
                    payment_expert_ammount_for_prep_and_cleaning,
                    payment_lab_asstt_exam,
                    payment_lab_ammount_for_prep_and_cleaning,
                    payment_tech_asstt_exam,
                    payment_tech_ammount_for_prep_and_cleaning,
                    payment_peon_asstt_exam,
                    payment_peon_ammount_for_prep_and_cleaning,

                    payment_total_for_prep_and_clean,
                    payment_rem_exam,

                    total_rem
                ];
                data.push(new_row);
                console.log("new row = ");
                console.log(new_row);
                
                
            }
            
            console.log(data);
            const ws = XLSX.utils.aoa_to_sheet(data);  // Converts the array to a worksheet

            // Apply wrapText to the entire worksheet range
            Object.keys(ws).forEach(key => {
                if (key[0] !== '!') { // Avoid meta keys like !ref or !merges
                    if (!ws[key].s) ws[key].s = {};
                    ws[key].s.alignment = { wrapText: true };
                }
            });

            // Merge "Name" column to span two rows (A2:A3)
            ws['!merges'] = [
                { s: {r:0, c:7}, e: {r:0, c:8}},
                { s: {r:0, c:9}, e:{r:0, c:11}},
                { s: {r:0, c:12}, e:{r:0, c:14}},
                { s: {r:0, c:15}, e:{r:0, c:17}},


                { s: {r:0, c:18}, e:{r:0, c:19}},
                { s: {r:0, c:20}, e:{r:0, c:21}},
                { s: {r:0, c:22}, e:{r:0, c:23}},
                { s: {r:0, c:24}, e:{r:0, c:25}},
                { s: {r:0, c:26}, e:{r:0, c:27}},


            ];

            // Append the sheet to the workbook
            XLSX.utils.book_append_sheet(wb, ws, "Sheet1");
            // Generate a download
            XLSX.writeFile(wb, "Output.xlsx");

        }
    
        function downloadPDF() {
            const { jsPDF } = window.jspdf;  // Access jsPDF from the UMD object

            // Generate HTML table from the data
            const doc = new jsPDF('l');
            const data = [
                // First row with merged columns
                [
                    { content: "", colSpan: 7 }, // Empty cells up to "Expert"
                    { content: "Expert", colSpan: 2 },
                    { content: "Lab", colSpan: 3 },
                    { content: "Tech", colSpan: 3 },
                    { content: "Peon", colSpan: 3 },
                    { content: "Expert", colSpan: 2 },
                    { content: "Lab", colSpan: 2 },
                    { content: "Tech", colSpan: 2 },
                    { content: "Peon", colSpan: 2 },
                    { content: "Total", colSpan: 2 }
                ],

                // Second row (regular row with no merged cells)
                [
                    "Year & Course", "Subject of Exam", "PR/ OR/ TW", "No. of Students", 
                    "Dates of conduct of Exam", "Days of Prep & Clng", "No. of Batches", 
                    "No. of Expert Asstt", "Rate for P&E", 
                    "Lab Asstt", "Rate for Prep", "Rate for Exam",
                    "Tech Asstt", "Rate for Prep", "Rate for Exam",
                    "Peon", "Rate for Prep", "Rate for Exam",
                    "Expert Asstt exam", "Amount for Prep & Clng",
                    "Lab Asstt exam", "Amount for Prep & Clng",
                    "Tech Asstt exam", "Amount for Prep & Clng",
                    "Peon exam", "Amount for Prep & Clng",
                    "Total for Prep & Clean", "Rem exam", "Total rem"
                ]
            ];

            let rows = [];
            for (var i = 1; i <= document.getElementById('subject_count').value; i++) {
                
                let payment_expert_asstt_exam = document.getElementById("rate_PandE_expert").value * 
                                    document.getElementById("subject"+i.toString()+ "_expert_count").value * 
                                    document.getElementById("subject"+i.toString()+ "_batch_count").value;

                let payment_expert_ammount_for_prep_and_cleaning = document.getElementById("rate_PandE_expert").value * 
                                    document.getElementById("subject"+i.toString()+ "_expert_count").value * 
                                    document.getElementById("subject"+i.toString()+ "_days_of_preparation").value;
                
                let payment_lab_asstt_exam = document.getElementById("rate_exam_lab").value *
                                    document.getElementById("subject"+i.toString()+ "_lab_assistant_count").value * 
                                    document.getElementById("subject"+i.toString()+ "_batch_count").value;

                let payment_lab_ammount_for_prep_and_cleaning = document.getElementById("rate_prep_lab").value * 
                                    document.getElementById("subject"+i.toString()+ "_lab_assistant_count").value * 
                                    document.getElementById("subject"+i.toString()+ "_days_of_preparation").value;

                let payment_tech_asstt_exam = document.getElementById("rate_exam_tech").value * 
                                    document.getElementById("subject"+i.toString()+ "_tech_assistant_count").value * 
                                    document.getElementById("subject"+i.toString()+ "_batch_count").value;

                let payment_tech_ammount_for_prep_and_cleaning = document.getElementById("rate_prep_tech").value * 
                                    document.getElementById("subject"+i.toString()+ "_tech_assistant_count").value * 
                                    document.getElementById("subject"+i.toString()+ "_days_of_preparation").value;

                let payment_peon_asstt_exam = document.getElementById("rate_exam_peon").value * 
                                    document.getElementById("subject"+i.toString()+ "_peon_count").value * 
                                    document.getElementById("subject"+i.toString()+ "_batch_count").value;

                let payment_peon_ammount_for_prep_and_cleaning = document.getElementById("rate_prep_peon").value * 
                                    document.getElementById("subject"+i.toString()+ "_peon_count").value * 
                                    document.getElementById("subject"+i.toString()+ "_days_of_preparation").value;

                let payment_total_for_prep_and_clean = payment_expert_ammount_for_prep_and_cleaning +
                                                        payment_lab_ammount_for_prep_and_cleaning +
                                                        payment_tech_ammount_for_prep_and_cleaning + 
                                                        payment_peon_ammount_for_prep_and_cleaning;

                let payment_rem_exam = payment_expert_asstt_exam + 
                                        payment_lab_asstt_exam + 
                                        payment_tech_asstt_exam +
                                        payment_peon_asstt_exam;
                
                let total_rem = payment_total_for_prep_and_clean + payment_rem_exam;
                
                
                
                
                
                
                rows.push([
                    document.getElementById("subject"+i.toString()+"_academic_year").value + " " + document.getElementById("department").value,
                    document.getElementById("subject"+i).value,
                    document.getElementById("subject"+i+"_pr_or_tw").value,
                    document.getElementById("subject"+i+"_student_count").value,
                    document.getElementById("subject"+i+"_date_of_conduct").value,
                    document.getElementById("subject"+i+"_days_of_preparation").value,
                    document.getElementById("subject"+i+"_batch_count").value,
                    document.getElementById("subject"+i.toString()+"_expert_count").value,
                    document.getElementById("rate_PandE_expert").value,
                    document.getElementById("subject"+i.toString()+"_lab_assistant_count").value,
                    document.getElementById("rate_prep_lab").value,
                    document.getElementById("rate_exam_lab").value,
                    document.getElementById("subject"+i.toString()+"_tech_assistant_count").value,
                    document.getElementById("rate_prep_tech").value,
                    document.getElementById("rate_exam_tech").value,
                    document.getElementById("subject"+i.toString()+"_peon_count").value,
                    document.getElementById("rate_prep_peon").value,
                    document.getElementById("rate_exam_peon").value,

                    payment_expert_asstt_exam,
                    payment_expert_ammount_for_prep_and_cleaning,
                    payment_lab_asstt_exam,
                    payment_lab_ammount_for_prep_and_cleaning,
                    payment_tech_asstt_exam,
                    payment_tech_ammount_for_prep_and_cleaning,
                    payment_peon_asstt_exam,
                    payment_peon_ammount_for_prep_and_cleaning,

                    payment_total_for_prep_and_clean,
                    payment_rem_exam,

                    total_rem


                ]);
            }


            // Add table content to PDF
            doc.autoTable({
                head: data.slice(0, 2),
                body: rows,
                theme: 'grid',
                headStyles: { fontSize: 8 },
                bodyStyles: { fontSize: 10 },
                styles:{halign:'center', valign:'top', lineWidth: 0.5,},
                margin: { right: 20, left: 20 }
            });

            // Save the PDF
            doc.save('Output.pdf');
        }

    
    </script> -->

    <script>
        function updateSubject(){
            var noOfSubjects = parseInt(document.getElementById("subject_count").value, 10);
            SubjectDiv = document.getElementById("subjects");
            var subjectHTMLCode = document.getElementById("testDiv").innerHTML;

            SubjectDiv.innerHTML = '';

            for (var i = 1; i <= noOfSubjects; i++) {
                var updatedHTML = subjectHTMLCode
                .replace('<label for="subject">Subject</label>', `<label for="subject${i}">Subject ${i}</label>`)
                .replace('<select id="subject" name="subject">', `<select id="subject${i}" name="subject${i}">`)
                .replace('<label for="subject_academic_year">', `<label for="subject${i}_academic_year">`)
                .replace('<select id="subject_academic_year" name="subject_academic_year">', `<select id="subject${i}_academic_year" name="subject${i}_academic_year">`)
                .replace('<label for="subject_pr_or_tw">', `<label for="subject${i}_pr_or_tw">`)
                .replace('<select id="subject_pr_or_tw" name="subject_pr_or_tw">', `<select id="subject${i}_pr_or_tw" name="subject${i}_pr_or_tw">`)
                
                .replace('<label for="subject_student_count">', `<label for="subject${i}_student_count">`)
                .replace('<input name="subject_student_count" id="subject_student_count" type="number" placeholder="Enter here">', `<input name="subject${i}_student_count" id="subject${i}_student_count" type="number" placeholder="Enter here">`) 
                .replace('<label for="subject_date_of_conduct">', `<label for="subject${i}_date_of_conduct">`)
                .replace(`<input name="subject_date_of_conduct" id="subject_date_of_conduct" type="date">`, `<input name="subject${i}_date_of_conduct" id="subject${i}_date_of_conduct" type="date">`)
                .replace('<label for="subject_days_of_preparation">', `<label for="subject${i}_days_of_preparation">`)
                .replace(`<input name="subject_days_of_preparation" id="subject_days_of_preparation" type="number" placeholder="Enter here">`, `<input name="subject${i}_days_of_preparation" id="subject${i}_days_of_preparation" type="number" placeholder="Enter here">`)
                
                .replace(`<label for="subject_batch_count">`, `<label for="subject${i}_batch_count">`)
                .replace(`<input name="subject_batch_count" id="subject_batch_count" type="number" placeholder="Enter here">`, `<input name="subject${i}_batch_count" id="subject${i}_batch_count" type="number" placeholder="Enter here">`)
                .replace(`<label for="subject_expert_count">`, `<label for="subject${i}_expert_count">`)
                .replace(`<input name="subject_expert_count" id="subject_expert_count" type="number" placeholder="Enter here">`, `<input name="subject${i}_expert_count" id="subject${i}_expert_count" type="number" placeholder="Enter here">`)
                .replace(`<label for="subject_lab_assistant_count">`, `<label for="subject${i}_lab_assistant_count">`)
                .replace(`<input name="subject_lab_assistant_count" id="subject_lab_assistant_count" type="number" placeholder="Enter here">`, `<input name="subject${i}_lab_assistant_count" id="subject${i}_lab_assistant_count" type="number" placeholder="Enter here">`)
                .replace(`<label for="subject_tech_assistant_count">`, `<label for="subject${i}_tech_assistant_count">`)
                .replace(`<input name="subject_tech_assistant_count" id="subject_tech_assistant_count" type="number" placeholder="Enter here">`, `<input name="subject${i}_tech_assistant_count" id="subject${i}_tech_assistant_count" type="number" placeholder="Enter here">`)
                .replace(`<label for="subject_peon_count">`, `<label for="subject${i}_peon_count">`)
                .replace(`<input name="subject_peon_count" id="subject_peon_count" type="number" placeholder="Enter here">`, `<input name="subject${i}_peon_count" id="subject${i}_peon_count" type="number" placeholder="Enter here">`);

                SubjectDiv.innerHTML += updatedHTML;
            }
        }
    </script>
    
    <style>
        .col > input[type="number"], input {
            width: 100%;
            box-sizing: border-box;  /* Ensures padding and borders are included in the width */
        }
    </style> 
</head>
<body>
    <div class="container">
        <br>
        <h2 style="font-family: Georgia, 'Times New Roman', Times, serif; text-align: center;">Statement of Lab Staff</h2><br>

        <form id="statement_of_labstaff_form" method="post" action="{% url 'labstaff' %}" class="custom_form_css" style="width: 100%;">
            {% csrf_token %}

            <label for="college_name">College Name</label>
            <select name="college_name" id="college_name" required>
                <option value="" disabled selected>Select College</option>
                {% for college in colleges %}
                <option value="{{college.name}}">{{college.name}}</option>
                {% endfor %}
            </select><br><br>

            <label for="department">Department Name</label>
            <select name="department" id="department" required>
                <option value="" disabled selected>Select Department</option>
                {% for department in departments %}
                <option value="{{department.name}}">{{department.name}}</option>
                {% endfor %}
            </select>

            <hr style="border: 1px solid black;">

            <div>
                <div class="row">
                    <div class="col">
                        <label for="exam_start_month">Exam Start Month</label>
                        <select id="exam_start_month" name="exam_start_month" required>
                            <option value="" disabled selected>Select Month</option>
                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="exam_start_year">Exam Start Year</label>
                        <select id="exam_start_year" name="exam_start_year" required>
                            <option value="" disabled selected>Select Year</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                        </select><br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="exam_end_month">Exam End Month</label>
                        <select id="exam_end_month" name="exam_end_month" required>
                            <option value="" disabled selected>Select Month</option>
                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="exam_end_year">Exam End Year</label>
                        <select id="exam_end_year" name="exam_end_year" required>
                            <option value="" disabled selected>Select Year</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <hr style="border: 1px solid black;">
            
            <label for="subject_count">Number of Subjects</label>
            <input min="1" max="20" type="number" id="subject_count" name="subject_count" onchange="updateSubject()" placeholder="Enter here" required><br>
            <div id="testDiv" hidden disabled>
                {% include 'subject_component.html' %}
            </div>
            <div id="subjects"></div>

            <hr style="border: 1px solid black;">

            <div>
                <div class="row">
                    <div class="col">
                        <label for="rate_prep_lab">Rate of lab assistant for Preparation</label>
                        <input type="int" id="rate_prep_lab" name="rate_lab_assist_prep" placeholder="Enter here" required>
                    </div>
                    <div class="col">
                        <label for="rate_exam_lab">Rate of lab assistant for Exam</label>
                        <input type="int" id="rate_exam_lab" name="rate_lab_assist_exam" placeholder="Enter here" required>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col">
                        <label for="rate_prep_tech">Rate of technical assistant for Preparation</label>
                        <input type="int" id="rate_prep_tech" name="rate_tech_assist_prep" placeholder="Enter here" required>
                    </div>
                    <div class="col">
                        <label for="rate_exam_tech">Rate of technical assistant for Exam</label>
                        <input type="int" id="rate_exam_tech" name="rate_tech_assist_exam" placeholder="Enter here" required>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col">
                        <label for="rate_prep_peon">Rate of peon for Preparation</label>
                        <input type="int" id="rate_prep_peon" name="rate_peon_prep" placeholder="Enter here" required>
                    </div>
                    <div class="col">
                        <label for="rate_exam_peon">Rate of peon for Exam</label>
                        <input type="int" id="rate_exam_peon" name="rate_peon_exam" placeholder="Enter here" required>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-6">
                        <label for="rate_PandE_expert">Rate of Expert for P&E</label>
                        <input type="int" id="rate_PandE_expert" name = "rate_expert_PandE" placeholder="Enter here" required>
                    </div>
                </div>
            </div>

            <hr style="border: 1px solid black;">
            
            <label for="excel_pdf">Download Format</label>
            <select name="excel_pdf" id="excel_pdf">
                <option value="excel">Excel (.xlsx)</option>
                <option value="pdf">PDF (.pdf)</option>
            </select>
            
            <br><br>
            <button type="submit">Submit</button>
        </form><br><br>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- Include Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>

    <!-- Include Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>